

.resizer-responsive{

}

@media (max-width:412px) and (min-width:365px) {

    .resizer-responsive{
        margin-top: -250px;
    }

}

@media (max-width:500px) and (min-width:412px) {

    .resizer-responsive{
        margin-top: -250px;
    }

}



@media (max-width:700px) and (min-width:200px) {

    .resizer-responsive{
        margin-top: -100px;
    }
}
